ShortcutRelay/Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ShortcutRelayService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShortcutList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetShortcutList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivateShortcut_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateShortcut" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivateShortcut_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateShortcutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivateShortcutByID_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateShortcutByID" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivateShortcutByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateShortcutByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivateShortcutByName_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateShortcutByName" />
  </wsdl:message>
  <wsdl:message name="IService1_ActivateShortcutByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateShortcutByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteShortcut_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortcut" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteShortcut_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortcutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteShortcutByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortcutByID" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteShortcutByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortcutByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteShortcutByName_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortcutByName" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteShortcutByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShortcutByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddShortCut_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCut" />
  </wsdl:message>
  <wsdl:message name="IService1_AddShortCut_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShortcutList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetShortcutList" message="tns:IService1_GetShortcutList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetShortcutListResponse" message="tns:IService1_GetShortcutList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateShortcut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActivateShortcut" message="tns:IService1_ActivateShortcut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActivateShortcutResponse" message="tns:IService1_ActivateShortcut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateShortcutByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActivateShortcutByID" message="tns:IService1_ActivateShortcutByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActivateShortcutByIDResponse" message="tns:IService1_ActivateShortcutByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivateShortcutByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActivateShortcutByName" message="tns:IService1_ActivateShortcutByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActivateShortcutByNameResponse" message="tns:IService1_ActivateShortcutByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShortcut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteShortcut" message="tns:IService1_DeleteShortcut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteShortcutResponse" message="tns:IService1_DeleteShortcut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShortcutByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteShortcutByID" message="tns:IService1_DeleteShortcutByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteShortcutByIDResponse" message="tns:IService1_DeleteShortcutByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShortcutByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteShortcutByName" message="tns:IService1_DeleteShortcutByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteShortcutByNameResponse" message="tns:IService1_DeleteShortcutByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShortCut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddShortCut" message="tns:IService1_AddShortCut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddShortCutResponse" message="tns:IService1_AddShortCut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShortcutList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetShortcutList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateShortcut">
      <soap:operation soapAction="http://tempuri.org/IService1/ActivateShortcut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateShortcutByID">
      <soap:operation soapAction="http://tempuri.org/IService1/ActivateShortcutByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateShortcutByName">
      <soap:operation soapAction="http://tempuri.org/IService1/ActivateShortcutByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShortcut">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteShortcut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShortcutByID">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteShortcutByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShortcutByName">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteShortcutByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShortCut">
      <soap:operation soapAction="http://tempuri.org/IService1/AddShortCut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8734/ShortcutRelay/ShortcutService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>