ShortcutRelay/Service References/ServiceReference2/ShortcutRelayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShortcutRelayService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShortcutRelayService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShortcutData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShortcutData" nillable="true" type="tns:ShortcutData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShortcutData" nillable="true" type="tns:ArrayOfShortcutData" />
  <xs:complexType name="ShortcutData">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shortcut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShortcutData" nillable="true" type="tns:ShortcutData" />
</xs:schema>